<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="disable-default.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    Todoist
</header>
<main>
    {{{body}}}
</main>
</body>
</html>